
@@include('./partials/head.html')

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">ONUSIDA | Atlas solidarité Madagascar</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false" style="height: 1px;">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Carte</a></li>
                <li><a href="#">À propos</a></li>
                <li><a href="#about">Connexion</a></li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
    </nav><!--/top nav -->



    <button id="filters-button" type="button" class="btn btn-warning js-showfilters" aria-hidden="true">
        Filtrer <span class="glyphicon glyphicon-triangle-top" ></span>
    </button>

    <div id="filters" class="panel panel--outer js-filters">

        <div class="mobileFilterHeader" aria-hidden="true">
            Filtres
            <button class="mobileFilterHeader-close js-closeFilters">
                Fermer
                <span class="close">×</span>
            </button>
        </div>


        <div class="filters-inner">


            <div class="panel-group" role="tablist" aria-multiselectable="true">

                @@include('./partials/actionTypes.html')

                <div class="panel  panel--inner">
                    <div class="panel-heading" role="tab" id="populationHeading">
                      <h4 class="panel-title">
                        <a class="collapsed panel-title-inner" data-toggle="collapse"  href="#population" aria-expanded="false" aria-controls="population" >
                          Populations
                          <span class="panelFilterStatus" data-countof="population"></span>
                          <span class="panelCollapsedStatus">
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                          </span>
                        </a>
                      </h4>
                    </div>
                    <div id="population" class="panel-collapse collapse" role="tabpanel" aria-labelledby="populationHeading">
                      <div class="panel-body checkboxList js-filterFieldList">


                        <div class="checkboxList-sectionTitle">Adultes</div>
                        <label>
                            <input type="checkbox" checked>
                            Personnes vivant avec le VIH
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Perdus de vue
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Consommateurs de Drogues injectables
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Homme ayant des rapports avec d’autres hommes
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Travailleuses du Sexe
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Hommes à Comportements à Hauts Risques
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Clients des TdS
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Populations Migrantes
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Population Carcérale
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Forces Armées
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Femmes enceintes
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Femmes victimes de violences sexuelles
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Leaders religieux ou traditionnels
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Personnels de santé
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Autres (Cercles associatifs, cercles religieux, etc)
                        </label>

                        <div class="checkboxList-sectionTitle">Jeunes</div>
                        <label>
                            <input type="checkbox" checked>
                            Jeunes scolarisés
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Jeunes non-scolarisés
                        </label>
                        <label>
                            <input type="checkbox" checked>
                            Orphelins et Enfants Vulnérables
                        </label>
                      </div>
                    </div>
                </div><!--/population panel -->




                <div class="panel panel--inner">
                    <div class="panel-heading" role="tab" id="dateHeading">
                      <h4 class="panel-title">
                        <a class="collapsed panel-title-inner" data-toggle="collapse" href="#date" aria-expanded="false" aria-controls="date">
                          Dates <span class="panelFilterStatus">jan. 2010 → jan. 2015</span>
                          <span class="panelCollapsedStatus">
                            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                          </span>
                        </a>
                      </h4>
                    </div>
                    <div id="date" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dateHeading">
                      <div class="panel-body">

                        <div class="input-group">
                          <span class="input-group-addon" id="dateFrom">de</span>
                          <input type="text" class="form-control" placeholder="date" aria-describedby="dateFrom">
                        </div>

                        <div class="input-group">
                          <span class="input-group-addon" id="dateTo">à</span>
                          <input type="text" class="form-control" placeholder="date" aria-describedby="dateTo">
                        </div>

                      </div>
                    </div>
                </div><!--/date panel -->





                <div class="panel panel--inner">
                    <div class="panel-heading" role="tab" id="provinceHeading">

    <!--                     <div class="btn-group">
                            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Zoomer sur une province <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Antananarivo</a></li>
                                <li><a href="#">Antsiranana</a></li>
                                <li><a href="#">Fianarantsoa</a></li>
                                <li><a href="#">Mahajanga</a></li>
                                <li><a href="#">Toamasina</a></li>
                                <li><a href="#">Toliara</a></li>
                            </ul>
                        </div> -->
                        <h4 class="panel-title">
                            <a class="collapsed panel-title-inner" data-toggle="collapse" href="#province" aria-expanded="false" aria-controls="province">
                              Zoomer sur une region (<em>faritra</em>)
                              <span class="panelCollapsedStatus">
                                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
                              </span>
                            </a>
                          </h4>
                    </div>

                     <div id="province" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dateHeading">
                        <div class="panel-body">
                            <ul class="js-regions">

                            </ul>
                        </div>

                    </div>
                </div><!--/province panel -->






<!--                <div class="panel panel--inner">
                    <div class="panel-heading" role="tab">
                      <h4 class="panel-title">

                            <form class="form-inline panel-title-inner" >
                              <div class="form-group">
                                <input type="text" class="form-control" id="search" placeholder="Recherche">
                              </div>

                              <button type="submit" class="btn btn-default">Rechercher</button>
                            </form>

                      </h4>
                    </div>
                </div> -->
                <!--/search panel -->



            </div>  <!--/.panel-group -->
        </div>
    </div><!--/#filters -->


    <div id="map"></div>


    <script type="text/template" class="js-tpl-popup">
        <div class="popup-title">
            Titre de l'action
            <% if (data.status === 'completed') { %>
                <span class="label label-default">terminée</span>
            <% } else if (data.status === 'pending') { %>
                <span class="label label-warning">en cours</span>
            <% } %>

        </div>
        <table class="popup-table table table-striped">
            <tr>
                <td>ONG</td>
                <td><%= data.nom_ong %></td>
            </tr>
            <tr>
                <td>Opérateur</td>
                <td><%= data.operateur %></td>
            </tr>
            <tr>
                <td>Catégorie</td>
                <td><%= data.categorie %></td>
            </tr>
            <tr>
                <td>Public</td>
                <td><%= data.public %></td>
            </tr>
            <!--
            <tr>
                <td>Début</td>
                <td><%= data.debut %></td>
            </tr>
            <tr>
                <td>Fin</td>
                <td><%= data.fin %></td>
            </tr>
            -->
        </table>
        <div class="popup-link">
            <a class="underline" href="#" target="_blank">Détails</a>
        </div>

    </script>

    <script type="text/javascript" src="./dependencies.js"></script>
    <!-- TODO: fix hard dependency -->
    <script src="./leaflet.markercluster.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>


