<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Actions de lutte contre le SIDA à Madagascar</title>

	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap-theme.min.css">
	<link rel="stylesheet" type="text/css" href="./css/leaflet.css">
	<link rel="stylesheet" type="text/css" href="./css/MarkerCluster.css">
	<link rel="stylesheet" type="text/css" href="./css/MarkerCluster.Default.css">
	<link rel="stylesheet" type="text/css" href="style.css">


</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
      	<div class="container-fluid">
	        <div class="navbar-header">
	          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	          <a class="navbar-brand" href="#">ONUSIDA | Atlas solidarité Madagascar</a>
	        </div>
	        <div id="navbar" class="navbar-collapse collapse navbar-right" aria-expanded="false" style="height: 1px;">
	          <ul class="nav navbar-nav">
	            <li class="active"><a href="#">Carte</a></li>
	            <li><a href="#">À propos</a></li>
	            <li><a href="#about">Connexion</a></li>
	          </ul>
	        </div><!--/.nav-collapse -->
	      </div>
    </nav><!--/top nav -->



	<button id="filters-button" type="button" class="btn btn-warning js-showfilters" aria-hidden="true">
    	Filtrer <span class="glyphicon glyphicon-triangle-top" ></span>
  	</button>
	
    <div id="filters" class="panel panel--outer js-filters">
    	
		<div class="mobileFilterHeader" aria-hidden="true">
    		Filtres
    		<button class="mobileFilterHeader-close js-closeFilters">
    			Fermer
    			<span class="close">×</span>
    		</button>
    	</div>	

	
		<div class="filters-inner">
			

	    	<div class="panel-group" role="tablist" aria-multiselectable="true">


			  	<div class="panel panel--inner">
				    <div class="panel-heading" role="tab" id="actionTypeHeading">
				      <h4 class="panel-title">
				        <a data-toggle="collapse" href="#actionType" aria-expanded="true" aria-controls="actionType"  class="panel-title-inner">
				          Actions de lutte contre le SIDA à Madagascar
				          <span class="panelFilterStatus" data-countof="actionType"></span> 

				          <span class="panelCollapsedStatus">
				          	<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				          	<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
				          </span>
				          
				        </a>
				      </h4>
				    </div>
				    <div id="actionType" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="actionTypeHeading">
				      <div class="panel-body checkboxList js-filterFieldList">
						<label>
							<input type="checkbox" checked>
							<abbr title="action visant à changer les comportements et à influencer les politiques. Ce genre d'interventions consiste en des actions d'informations, de sensibilisation, renforcement des capacités, d'établissement de réseaux/partenariats et aussi de lobbying.">Plaidoyer</abbr>
						</label>
						<label>
							<input type="checkbox" checked>
							<abbr title="communication pour le changement de comportement ou communication de proximité">CCC</abbr>
						</label>
						<label>
							<input type="checkbox" checked>
							<abbr title="promotion et distribution de préservatifs (masculins, féminins, gels lubrifiants).">Promotion de préservatifs</abbr>
						</label>
						<label>
							<input type="checkbox" checked>
							<abbr title="Sensibilisation lors de manifestations ou évènements culturels, Unité Mobile Vidéo, Programme radiophonique, programme télévisé, etc...">Communication de masse</abbr>
						</label>
						<label>
							<input type="checkbox" checked>
							Prise en charge IST
						</label>
						<label>
							<input type="checkbox" checked>
							<abbr title="action de dépistage du virus et conseils">Dépistage</abbr>
						</label>
						<label>
							<input type="checkbox" checked>
							<abbr title="Prise en charge IST et Prise en charge médicale des PVVIH (suivi biologique, traitement ARV, traitement des infections opportunistes). ">Prise en charge médicale</abbr>
						</label>
						<label>
							<input type="checkbox" checked>
							<abbr title="soutiens des personnes infectées et affectées par le VIH (prise en charge psychosociale, appuis nutritionnels, appuis économiques, éducation thérapeutique, conseil, etc)">Soutien</abbr>
						</label>
						<label>
							<input type="checkbox" checked>
							<abbr title="Coordination et suivi, évaluation">Coordination</abbr>
						</label>
						<label>
							<input type="checkbox" checked>
							Renforcement des capacités
						</label>
				      </div>
				    </div>
			  	</div><!--/actionType panel -->




			  	<div class="panel  panel--inner">
				    <div class="panel-heading" role="tab" id="populationHeading">
				      <h4 class="panel-title">
				        <a class="collapsed panel-title-inner" data-toggle="collapse"  href="#population" aria-expanded="false" aria-controls="population" >
				          Populations
				          <span class="panelFilterStatus" data-countof="population"></span> 
				          <span class="panelCollapsedStatus">
				          	<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				          	<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
				          </span>
				        </a>
				      </h4>
				    </div>
				    <div id="population" class="panel-collapse collapse" role="tabpanel" aria-labelledby="populationHeading">
				      <div class="panel-body checkboxList js-filterFieldList">


				      	<div class="checkboxList-sectionTitle">Adultes</div>
				        <label>
				        	<input type="checkbox" checked>
							Personnes vivant avec le VIH
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Perdus de vue
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Consommateurs de Drogues injectables
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Homme ayant des rapports avec d’autres hommes	
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Travailleuses du Sexe
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Hommes à Comportements à Hauts Risques
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Clients des TdS
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Populations Migrantes
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Population Carcérale
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Forces Armées	
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Femmes enceintes
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Femmes victimes de violences sexuelles
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Leaders religieux ou traditionnels
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Personnels de santé
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Autres (Cercles associatifs, cercles religieux, etc)
				        </label>

						<div class="checkboxList-sectionTitle">Jeunes</div>
				        <label>
				        	<input type="checkbox" checked>
							Jeunes scolarisés
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Jeunes non-scolarisés
				        </label>
				        <label>
				        	<input type="checkbox" checked>
							Orphelins et Enfants Vulnérables	
				        </label>
				      </div>
				    </div>
			    </div><!--/population panel -->




			  	<div class="panel panel--inner">
				    <div class="panel-heading" role="tab" id="dateHeading">
				      <h4 class="panel-title">
				        <a class="collapsed panel-title-inner" data-toggle="collapse" href="#date" aria-expanded="false" aria-controls="date">
				          Dates <span class="panelFilterStatus">jan. 2010 → jan. 2015</span>
				          <span class="panelCollapsedStatus">
				          	<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
				          	<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
				          </span>
				        </a>
				      </h4>
				    </div>
				    <div id="date" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dateHeading">
				      <div class="panel-body">

				        <div class="input-group">
						  <span class="input-group-addon" id="dateFrom">de</span>
						  <input type="text" class="form-control" placeholder="date" aria-describedby="dateFrom">
						</div>

						<div class="input-group">
						  <span class="input-group-addon" id="dateTo">à</span>
						  <input type="text" class="form-control" placeholder="date" aria-describedby="dateTo">
						</div>

				      </div>
				    </div>
			  	</div><!--/date panel -->





				<div class="panel panel--inner">
				    <div class="panel-heading" role="tab" id="provinceHeading">

	<!-- 			    	 <div class="btn-group">
				            <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">Zoomer sur une province <span class="caret"></span></button>
				            <ul class="dropdown-menu">
								<li><a href="#">Antananarivo</a></li>
					            <li><a href="#">Antsiranana</a></li>
					            <li><a href="#">Fianarantsoa</a></li>
					            <li><a href="#">Mahajanga</a></li>
					            <li><a href="#">Toamasina</a></li>
					            <li><a href="#">Toliara</a></li>
				            </ul>
				        </div> -->
				        <h4 class="panel-title">
					        <a class="collapsed panel-title-inner" data-toggle="collapse" href="#province" aria-expanded="false" aria-controls="province">
					          Zoomer sur une province 
					          <span class="panelCollapsedStatus">
					          	<span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
					          	<span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
					          </span>
					        </a>
					      </h4>
				    </div>

				     <div id="province" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dateHeading">
					      <ul class="js-province">
								<li><a href="#" data-latlon="-19.006295,46.944580">Antananarivo</a></li>
					            <li><a href="#" data-latlon="-12.515017, 49.268188">Antsiranana</a></li>
					            <li><a href="#" data-latlon="-21.453611, 47.085833">Fianarantsoa</a></li>
					            <li><a href="#" data-latlon="-15.716667, 46.316667">Mahajanga</a></li>
					            <li><a href="#" data-latlon="-18.150000, 49.416667">Toamasina</a></li>
					            <li><a href="#" data-latlon="-23.350000, 43.666667">Toliara</a></li>
				            </ul>
				    </div>
			  	</div><!--/province panel -->






				<div class="panel panel--inner">
				    <div class="panel-heading" role="tab">
				      <h4 class="panel-title">
				          
				          	<form class="form-inline panel-title-inner" >
							  <div class="form-group">
							    <!-- <label for="search">Name</label> -->
							    <input type="text" class="form-control" id="search" placeholder="Recherche">
							  </div>
							
							  <button type="submit" class="btn btn-default">Rechercher</button>
							</form>
				          
				      </h4>
				    </div>
			  	</div><!--/search panel -->



			</div>	<!--/.panel-group -->
		</div>
    </div><!--/#filters -->


	<div id="map"></div>


	<script type="text/template" class="js-tpl-popup">
		<div class="popup-title">
			Titre de l'action
			<% if (data.status === 'completed') { %>
				<span class="label label-default">terminée</span>
			<% } else if (data.status === 'pending') { %>
				<span class="label label-warning">en cours</span>
			<% } %>

		</div>
		<table class="popup-table table table-striped">
			<tr>
				<td>ONG</td>
				<td><%= data.nom_ong %></td>
			</tr>
			<tr>
				<td>Opérateur</td>
				<td><%= data.operateur %></td>
			</tr>
			<tr>
				<td>Catégorie</td>
				<td><%= data.categorie %></td>
			</tr>
			<tr>
				<td>Public</td>
				<td><%= data.public %></td>
			</tr>
			<!--
			<tr>
				<td>Début</td>
				<td><%= data.debut %></td>
			</tr>
			<tr>
				<td>Fin</td>
				<td><%= data.fin %></td>
			</tr>
			-->
		</table>
		<div class="popup-link">
			<a href="#" target="_blank">Détails</a>
		</div>

	</script>

	<script type="text/javascript" src="./dependencies.js"></script>
	<!-- TODO: fix hard dependency -->
	<script src="./leaflet.markercluster.js"></script>
	<script type="text/javascript" src="app.js"></script>
</body>
</html>
