
#map {
	width: 100%;
	height: calc(100% - 50px);
	top: 50px;
	position: absolute;
}

#filters {
	position: absolute;
	right: 30px;
	top: 80px;
	width: 350px;
	z-index: 99;
	height: calc(100% - 120px);
	overflow: auto;
}


.leaflet-popup-content-wrapper {
	border-radius: 4px;
}

.popup-table tr td:first-child {
  font-weight: bold;
  text-align: right;
}

.popup-table td {
  padding: 10px;
}


.panel {
	border: 0;
}

.panel--outer {
	box-shadow: 3px 3px 10px rgba(0,0,0,.15);
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,.15);
}

.panel--inner {
	box-shadow: none;
	-webkit-box-shadow: none;
}


.panel-heading {
	background-color: #ddd;
	padding: 0;
}


.panel--inner .panel-heading {
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.panel-title .panel-title-inner {
	width: 100%;
	display: inline-block;
	position: relative;
	padding: 10px 15px;
}


.panel-title a:not(.collapsed) .glyphicon-triangle-right {
	display: none;
}

.panel-title a.collapsed .glyphicon-triangle-bottom {
	display: none;
}

.panelStatus {
	position: absolute;
 	right: 10px;
	top: 35%;
	font-size: 1rem;
}
.checkboxList label {
	display: block;
}

.checkboxList-sectionTitle {
	font-variant:small-caps;
}