
<script type="text/template" class="js-tpl-popup">
    <div class="popup-title">
        <%= data.titre %>
        <% if (data.avancement === 1) { %>
            <span class="label label-default">terminée</span>
        <% } else if (data.avancement === 2) { %>
            <span class="label label-warning">en cours</span>
        <% } else if (data.avancement === 3) { %>
            <span class="label label-warning">à venir</span>
        <% } %>

    </div>
    <table class="popup-table table table-striped">
        <tr>
            <td>Organisme</td>
            <td><%= data.organisme %></td>
        </tr>
        <tr>
            <td>Lieux</td>
            <td><%= data.localisation %></td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <div class="popup-truncate"><%= data.description %></div>
            </td>
        </tr>
    </table>
    <div class="popup-link">
        <a class="underline" href="#" target="_blank">Détails</a>
    </div>

</script>
