
<div class="panel  panel--inner">
    <div class="panel-heading" role="tab" id="populationHeading">
      <h4 class="panel-title">
        <a class="collapsed panel-title-inner" data-toggle="collapse"  href="#population" aria-expanded="false" aria-controls="population" >
          Populations
          <span class="panelFilterStatus" data-countof="population"></span>
          <span class="panelCollapsedStatus">
            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
          </span>
        </a>
      </h4>
    </div>
    <div id="population" class="panel-collapse collapse" role="tabpanel" aria-labelledby="populationHeading">
      <div class="panel-body checkboxList js-filterFieldList">


        <div class="checkboxList-sectionTitle">Adultes</div>
        <label>
            <input type="checkbox" checked>
            Personnes vivant avec le VIH
        </label>
        <label>
            <input type="checkbox" checked>
            Perdus de vue
        </label>
        <label>
            <input type="checkbox" checked>
            Consommateurs de Drogues injectables
        </label>
        <label>
            <input type="checkbox" checked>
            Homme ayant des rapports avec d’autres hommes
        </label>
        <label>
            <input type="checkbox" checked>
            Travailleuses du Sexe
        </label>
        <label>
            <input type="checkbox" checked>
            Hommes à Comportements à Hauts Risques
        </label>
        <label>
            <input type="checkbox" checked>
            Clients des TdS
        </label>
        <label>
            <input type="checkbox" checked>
            Populations Migrantes
        </label>
        <label>
            <input type="checkbox" checked>
            Population Carcérale
        </label>
        <label>
            <input type="checkbox" checked>
            Forces Armées
        </label>
        <label>
            <input type="checkbox" checked>
            Femmes enceintes
        </label>
        <label>
            <input type="checkbox" checked>
            Femmes victimes de violences sexuelles
        </label>
        <label>
            <input type="checkbox" checked>
            Leaders religieux ou traditionnels
        </label>
        <label>
            <input type="checkbox" checked>
            Personnels de santé
        </label>
        <label>
            <input type="checkbox" checked>
            Autres (Cercles associatifs, cercles religieux, etc)
        </label>

        <div class="checkboxList-sectionTitle">Jeunes</div>
        <label>
            <input type="checkbox" checked>
            Jeunes scolarisés
        </label>
        <label>
            <input type="checkbox" checked>
            Jeunes non-scolarisés
        </label>
        <label>
            <input type="checkbox" checked>
            Orphelins et Enfants Vulnérables
        </label>
      </div>
    </div>
</div><!--/population panel -->
