
<div class="panel panel--inner">
    <div class="panel-heading" role="tab" id="provinceHeading">
        <h4 class="panel-title">
            <a class="collapsed panel-title-inner" data-toggle="collapse" href="#province" aria-expanded="false" aria-controls="province">
              {{trans.provinces_title}}
              <span class="panelCollapsedStatus">
                <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
              </span>
            </a>
          </h4>
    </div>

     <div id="province" class="panel-collapse collapse" role="tabpanel" aria-labelledby="provinceHeading">
        <div class="panel-body">
            <ul class="js-regions">

            </ul>
        </div>

    </div>
</div><!--/province panel -->
