<div class="panel panel--inner">
    <div class="panel-heading" role="tab" id="actionTypeHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#actionType" aria-expanded="true" aria-controls="actionType"  class="panel-title-inner">
          {{ trans.project.title }}
          <span class="panelFilterStatus" data-countof="actionType"></span>

          <span class="panelCollapsedStatus">
            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
          </span>

        </a>
      </h4>
    </div>


    <div id="actionType" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="actionTypeHeading">
      <div class="panel-body checkboxList js-filterFieldList">
        {? trans.project.actionTypes.forEach(function(actionType) { ?}
            <label>
                <input type="checkbox" checked>
                <abbr title="{{actionType.description}}">{{actionType.title}}</abbr>
            </label>
        {? }) ?}
      </div>
    </div>
</div><!--/actionType panel -->
