<div class="panel panel--inner">
    <div class="panel-heading" role="tab" id="actionTypeHeading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#actionType" aria-expanded="true" aria-controls="actionType"  class="panel-title-inner">
          {{ trans.project.title }}
          <span class="panelFilterStatus" data-countof="actionType"></span>

          <span class="panelCollapsedStatus">
            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
          </span>

        </a>
      </h4>
    </div>


    <div id="actionType" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="actionTypeHeading">
      <div class="panel-body checkboxList js-filterFieldList">
        {? trans.project.actionTypes.forEach(function(actionType) { ?}
            <label>
                <input type="checkbox" checked>
                <abbr title="{{actionType.description}}">{{actionType.title}}</abbr>
            </label>
        {? }) ?}
        <label>
            <input type="checkbox" checked>
            <abbr title="action visant à changer les comportements et à influencer les politiques. Ce genre d'interventions consiste en des actions d'informations, de sensibilisation, renforcement des capacités, d'établissement de réseaux/partenariats et aussi de lobbying.">Plaidoyer</abbr>
        </label>
        <label>
            <input type="checkbox" checked>
            <abbr title="communication pour le changement de comportement ou communication de proximité">CCC</abbr>
        </label>
        <label>
            <input type="checkbox" checked>
            <abbr title="promotion et distribution de préservatifs (masculins, féminins, gels lubrifiants).">Promotion de préservatifs</abbr>
        </label>
        <label>
            <input type="checkbox" checked>
            <abbr title="Sensibilisation lors de manifestations ou évènements culturels, Unité Mobile Vidéo, Programme radiophonique, programme télévisé, etc...">Communication de masse</abbr>
        </label>
        <label>
            <input type="checkbox" checked>
            Prise en charge IST
        </label>
        <label>
            <input type="checkbox" checked>
            <abbr title="action de dépistage du virus et conseils">Dépistage</abbr>
        </label>
        <label>
            <input type="checkbox" checked>
            <abbr title="Prise en charge IST et Prise en charge médicale des PVVIH (suivi biologique, traitement ARV, traitement des infections opportunistes). ">Prise en charge médicale</abbr>
        </label>
        <label>
            <input type="checkbox" checked>
            <abbr title="soutiens des personnes infectées et affectées par le VIH (prise en charge psychosociale, appuis nutritionnels, appuis économiques, éducation thérapeutique, conseil, etc)">Soutien</abbr>
        </label>
        <label>
            <input type="checkbox" checked>
            <abbr title="Coordination et suivi, évaluation">Coordination</abbr>
        </label>
        <label>
            <input type="checkbox" checked>
            Renforcement des capacités
        </label>
      </div>
    </div>
</div><!--/actionType panel -->
