<div class="panel panel--inner">
    <div class="panel-heading" role="tab" id="dateHeading">
      <h4 class="panel-title">
        <a class="collapsed panel-title-inner" data-toggle="collapse" href="#date" aria-expanded="false" aria-controls="date">
          Dates <span class="panelFilterStatus">jan. 2010 → jan. 2015</span>
          <span class="panelCollapsedStatus">
            <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
            <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
          </span>
        </a>
      </h4>
    </div>
    <div id="date" class="panel-collapse collapse" role="tabpanel" aria-labelledby="dateHeading">
      <div class="panel-body">

        <div class="input-group">
          <span class="input-group-addon" id="dateFrom">de</span>
          <input type="text" class="form-control" placeholder="date" aria-describedby="dateFrom">
        </div>

        <div class="input-group">
          <span class="input-group-addon" id="dateTo">à</span>
          <input type="text" class="form-control" placeholder="date" aria-describedby="dateTo">
        </div>

      </div>
    </div>
</div><!--/date panel -->
